/** IMPORTS **/
@import "node_modules/bulma/bulma";
@import "./variables.scss";

/** GLOBALS **/
body{
  color: $black;
}

.chat-window {
  background: $grey3;
  height: 310px;
  border-radius: .35em;
  padding: .4em;
  text-align: right;
  overflow: auto;
  line-height: 28px;
}

.message {
  padding: 4px;
  margin-right: 5px;
}

.user-list {
  background: $grey3;
  height: 310px;
  border-radius: .35em;
  padding: .4em;
  text-align: left;
  overflow: auto;
  line-height: 28px;
}
